* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */

  /* Fonts */
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border: 1px solid black;
}

.upper-header {
  border: 1px solid green;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.search-btn,
.notif-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.search-img,
.notif-img {
  height: 35px;
}

.lower-header {
  border: 1px solid green;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border: 1px solid black;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border: 1px solid black;
}
